{% extends 'navbar.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="card card-body" >
            <form action='' method="POST">
                {% csrf_token %}
                {{ fromset.management_form }}
                {% for from in fromset %}
                <tr align='center'>
                    <th> {{ from }} </th>
                    <hr>
                </tr>
                {% endfor %}
                <input type="submit" name="Submit">
            </form>
        </div>
    </div>
</div>
{% endblock %}