{% extends 'links.html' %}
{% block content %}
{% include 'status.html' %}
{% csrf_token %}
<div class="row">
    <div class="col-md">
        <div class="card card-body" >
            <table class="table table-sm">
                <tr>
                    <th> Products </th>
                    <th> Notes </th>
                    <th> Date Ordered </th>
                    <th> Status </th>
                </tr>
                {% for orders_show in orders %}
                <tr>
                    <td> {{ orders_show.products }} </td>
                    <td> {{ orders_show.notes }} </td>
                    <td> {{ orders_show.date_created }} </td>
                    <td> {{ orders_show.status }} </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock content %}